@import "tailwindcss";

/* Custom CSS variables */
:root {
  --color-bg: #0f172a;
  --color-text: #f8fafc;
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-danger: #ef4444;
  --color-container: #1e293b;
}

/* Main container padding
.main-container {
  padding: 10px;
} */

/* Custom scrollbar for dark theme */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #374151;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}